[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = "https://github.com/bake/solar-theme-hugo"
[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
