body {
    font-family: 'Ubuntu', monospace;
    margin: auto;
    max-width: 50em;
}
#page-title {
    text-align: center;
}

#page-title h1 a {
    color: black;
    font-size: 2.7rem;
    font-family: 'Ubuntu mono', monospace;
}

.post a {
    color: black;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
  font-family: 'Ubuntu mono', monospace;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
    text-decoration-color:darkorange;
}

.date-time-title {
    font-family: 'Ubuntu Mono', monospace;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts_listing li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4  {
  font-size: 1.2rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

footer  {
  text-align: center;
  color: black;
}
footer a {
  color: black;
}
code {
  color: #000000;
  background: #E8E8E8;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(UbuntuMono-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

